<%= link_to "Pets Index", "/pets" %>
<%= link_to "Shelters Index", "/shelters" %>

<h1>Adoptable Pets</h1>

  <% @shelter.pets.each do |pet| %>
    <%= image_tag pet.image %>
    <br/>
    <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
    <h5><%= pet.approx_age %></h5>
    <h5><%= pet.sex %></h5>
  <% end %>

<%= link_to "Create Pet", "/shelters/#{@shelter.id}/pets/new" %>
<%= link_to "Back to Shelter", "/shelters/#{@shelter.id}" %>
