<h1>All Pets</h1>
<% @pets.each do |pet| %>
  <article class="pet_<%= pet.id %>_details">
    <img src="<%= pet.image %>" alt="NotFound">
    <a class="name"href="/pets/<%= pet.id %>/"><%= pet.name %></a>
    <p class="age"><%= pet.age %></p>
    <p class="sex"><%= pet.sex %></p>
    <a class="shelter"href="/shelters/<%= pet.shelter.id %>/"><%= pet.shelter.name %></a>
  </article>
<% end %>
