<h1> All Pets </h1>

<% @pets.each do |pet| %>
  <%= image_tag pet.image %>
  <h3><%= pet.name %></h3>
  <h5><%= pet.city %></h5>
  <h5><%= pet.approx_age %></h5>
  <h5><%= pet.sex %></h5>
  <h5><%= pet.shelter.name %></h5>
<% end %>
