<h1>New Pets</h1>
<%= form_with model: @pet, url: "/shelters/#{@shelter_id}/pets", local: true do |form| %>
<%= form.label :name %>
<%= form.text_field :name %>
<%= form.label :age %>
<%= form.number_field :age %>
<%= form.label :description %>
<%= form.text_field :description %>
<%= form.label :sex %>
<%= form.text_field :sex %>
<%= form.file_field :image %>
<%= form.submit "Create Pet" %>
<% end %>
