<h1>Available Pets</h1>
<a href="/shelters/<%= @shelter_id %>/pets/new">Create Pet</a>
<% @pets.each do |pet| %>
  <article class="pet_<%= pet.id %>_details">
    <img src="/<%= pet.image %>" alt="NotFound">
    <a class="name"href="/pets/<%= pet.id %>/"><%= pet.name %></a>
    <p class="age"><%= pet.age %></p>
    <p class="sex"><%= pet.sex %></p>
    <%= link_to pet.shelter.name, show_shelters_path(pet.shelter), class: 'shelter' %>
    <%= link_to "Update Pet", edit_pets_path(pet) %>
    <%= link_to "Delete Pet", delete_pets_path(pet), method: "delete" %>
  </article>
<% end %>
