<h1>Available Pets</h1>
<a href="/shelters/<%= @shelter_id %>/pets/new">Create Pet</a>
<% @pets.each do |pet| %>
  <article class="pet_<%= pet.id %>_details">
    <%= image_tag("/#{pet.image}") %>
    <a class="name"href="/pets/<%= pet.id %>/"><%= pet.name %></a>
    <p class="age"><%= pet.age %></p>
    <p class="sex"><%= pet.sex %></p>
    <a class="shelter"href="/shelters/<%= pet.shelter.id %>/"><%= pet.shelter.name %></a>
  </article>>
<% end %>
